# documents
sphinx>=3.0.0
sphinx-autobuild>=0.7.1
sphinx-rtd-theme
sphinx-markdown-tables
recommonmark
m2r

# dependence
numpy==1.18.1
gensim>=3.8.1
pandas>=1.0.1
tqdm
sklearn
tensorflow==2.5.1
bert4keras>=0.7.9
scikit-learn>=0.21.1
flask
transformers==3.0.0
kashgari==2.0.0a1
snownlp
torch
